{
  "displayName": "${display_name}",
  "mosaicLayout": {
    "columns": 12,
    "tiles": [
      {
        "width": 12,
        "height": 3,
        "xPos": 0,
        "yPos": 0,
        "widget": {
          "title": "How to read this dashboard",
          "text": {
            "content": "**Saturation first, then latency, then correctness.**\n\nCPU and connection charts tell you if you are out of capacity. Query Insights tells you where the time goes. The vacuum and replication charts are slow-burn risks that will not show up as latency until it is too late.\n\nUtilisation metrics are fractions (0-1), not percentages.",
            "format": "MARKDOWN"
          }
        }
      },
      {
        "width": 6,
        "height": 4,
        "xPos": 0,
        "yPos": 3,
        "widget": {
          "title": "CPU utilisation (max across nodes)",
          "xyChart": {
            "chartOptions": {
              "mode": "COLOR"
            },
            "dataSets": [
              {
                "plotType": "LINE",
                "targetAxis": "Y1",
                "timeSeriesQuery": {
                  "timeSeriesFilter": {
                    "filter": "metric.type=\"alloydb.googleapis.com/instance/cpu/maximum_utilization\" resource.type=\"alloydb.googleapis.com/Instance\" resource.labels.cluster_id=\"${cluster_id}\"",
                    "aggregation": {
                      "alignmentPeriod": "60s",
                      "perSeriesAligner": "ALIGN_MEAN",
                      "crossSeriesReducer": "REDUCE_MAX",
                      "groupByFields": [
                        "resource.label.instance_id"
                      ]
                    }
                  }
                }
              }
            ],
            "yAxis": {
              "label": "fraction (0-1)",
              "scale": "LINEAR"
            },
            "thresholds": [
              {
                "value": 0.85,
                "color": "YELLOW",
                "direction": "ABOVE"
              }
            ]
          }
        }
      },
      {
        "width": 6,
        "height": 4,
        "xPos": 6,
        "yPos": 3,
        "widget": {
          "title": "CPU utilisation (average across nodes)",
          "xyChart": {
            "chartOptions": {
              "mode": "COLOR"
            },
            "dataSets": [
              {
                "plotType": "LINE",
                "targetAxis": "Y1",
                "timeSeriesQuery": {
                  "timeSeriesFilter": {
                    "filter": "metric.type=\"alloydb.googleapis.com/instance/cpu/average_utilization\" resource.type=\"alloydb.googleapis.com/Instance\" resource.labels.cluster_id=\"${cluster_id}\"",
                    "aggregation": {
                      "alignmentPeriod": "60s",
                      "perSeriesAligner": "ALIGN_MEAN",
                      "crossSeriesReducer": "REDUCE_MEAN",
                      "groupByFields": [
                        "resource.label.instance_id"
                      ]
                    }
                  }
                }
              }
            ],
            "yAxis": {
              "label": "fraction (0-1)",
              "scale": "LINEAR"
            }
          }
        }
      },
      {
        "width": 6,
        "height": 4,
        "xPos": 0,
        "yPos": 7,
        "widget": {
          "title": "Connection utilisation (used / max_connections)",
          "xyChart": {
            "chartOptions": {
              "mode": "COLOR"
            },
            "dataSets": [
              {
                "plotType": "LINE",
                "targetAxis": "Y1",
                "timeSeriesQuery": {
                  "timeSeriesFilterRatio": {
                    "numerator": {
                      "filter": "metric.type=\"alloydb.googleapis.com/instance/postgres/total_connections\" resource.type=\"alloydb.googleapis.com/Instance\" resource.labels.cluster_id=\"${cluster_id}\"",
                      "aggregation": {
                        "alignmentPeriod": "60s",
                        "perSeriesAligner": "ALIGN_MEAN"
                      }
                    },
                    "denominator": {
                      "filter": "metric.type=\"alloydb.googleapis.com/instance/postgres/connections_limit\" resource.type=\"alloydb.googleapis.com/Instance\" resource.labels.cluster_id=\"${cluster_id}\"",
                      "aggregation": {
                        "alignmentPeriod": "60s",
                        "perSeriesAligner": "ALIGN_MEAN"
                      }
                    }
                  }
                }
              }
            ],
            "yAxis": {
              "label": "fraction (0-1)",
              "scale": "LINEAR"
            },
            "thresholds": [
              {
                "value": 0.8,
                "color": "YELLOW",
                "direction": "ABOVE"
              }
            ]
          }
        }
      },
      {
        "width": 6,
        "height": 4,
        "xPos": 6,
        "yPos": 7,
        "widget": {
          "title": "Connections by state",
          "xyChart": {
            "chartOptions": {
              "mode": "COLOR"
            },
            "dataSets": [
              {
                "plotType": "STACKED_AREA",
                "targetAxis": "Y1",
                "timeSeriesQuery": {
                  "timeSeriesFilter": {
                    "filter": "metric.type=\"alloydb.googleapis.com/instance/postgresql/backends_by_state\" resource.type=\"alloydb.googleapis.com/Instance\" resource.labels.cluster_id=\"${cluster_id}\"",
                    "aggregation": {
                      "alignmentPeriod": "60s",
                      "perSeriesAligner": "ALIGN_MEAN",
                      "crossSeriesReducer": "REDUCE_SUM",
                      "groupByFields": [
                        "metric.label.state"
                      ]
                    }
                  }
                }
              }
            ],
            "yAxis": {
              "label": "connections",
              "scale": "LINEAR"
            }
          }
        }
      },
      {
        "width": 6,
        "height": 4,
        "xPos": 0,
        "yPos": 11,
        "widget": {
          "title": "Available memory (minimum across nodes)",
          "xyChart": {
            "chartOptions": {
              "mode": "COLOR"
            },
            "dataSets": [
              {
                "plotType": "LINE",
                "targetAxis": "Y1",
                "timeSeriesQuery": {
                  "timeSeriesFilter": {
                    "filter": "metric.type=\"alloydb.googleapis.com/instance/memory/min_available_memory\" resource.type=\"alloydb.googleapis.com/Instance\" resource.labels.cluster_id=\"${cluster_id}\"",
                    "aggregation": {
                      "alignmentPeriod": "60s",
                      "perSeriesAligner": "ALIGN_MIN",
                      "crossSeriesReducer": "REDUCE_MIN",
                      "groupByFields": [
                        "resource.label.instance_id"
                      ]
                    }
                  }
                }
              }
            ],
            "yAxis": {
              "label": "bytes",
              "scale": "LINEAR"
            }
          }
        }
      },
      {
        "width": 6,
        "height": 4,
        "xPos": 6,
        "yPos": 11,
        "widget": {
          "title": "Transactions per second",
          "xyChart": {
            "chartOptions": {
              "mode": "COLOR"
            },
            "dataSets": [
              {
                "plotType": "LINE",
                "targetAxis": "Y1",
                "timeSeriesQuery": {
                  "timeSeriesFilter": {
                    "filter": "metric.type=\"alloydb.googleapis.com/instance/postgres/transaction_count\" resource.type=\"alloydb.googleapis.com/Instance\" resource.labels.cluster_id=\"${cluster_id}\"",
                    "aggregation": {
                      "alignmentPeriod": "60s",
                      "perSeriesAligner": "ALIGN_RATE",
                      "crossSeriesReducer": "REDUCE_SUM",
                      "groupByFields": [
                        "resource.label.instance_id"
                      ]
                    }
                  }
                }
              }
            ],
            "yAxis": {
              "label": "tps",
              "scale": "LINEAR"
            }
          }
        }
      },
      {
        "width": 6,
        "height": 4,
        "xPos": 0,
        "yPos": 15,
        "widget": {
          "title": "Query latency distribution (p99)",
          "xyChart": {
            "chartOptions": {
              "mode": "COLOR"
            },
            "dataSets": [
              {
                "plotType": "LINE",
                "targetAxis": "Y1",
                "timeSeriesQuery": {
                  "timeSeriesFilter": {
                    "filter": "metric.type=\"alloydb.googleapis.com/database/postgresql/insights/aggregate/latencies\" resource.type=\"alloydb.googleapis.com/Instance\" resource.labels.cluster_id=\"${cluster_id}\"",
                    "aggregation": {
                      "alignmentPeriod": "60s",
                      "perSeriesAligner": "ALIGN_PERCENTILE_99"
                    }
                  }
                }
              }
            ],
            "yAxis": {
              "label": "microseconds",
              "scale": "LINEAR"
            }
          }
        }
      },
      {
        "width": 6,
        "height": 4,
        "xPos": 6,
        "yPos": 15,
        "widget": {
          "title": "Database load by wait time",
          "xyChart": {
            "chartOptions": {
              "mode": "COLOR"
            },
            "dataSets": [
              {
                "plotType": "LINE",
                "targetAxis": "Y1",
                "timeSeriesQuery": {
                  "timeSeriesFilter": {
                    "filter": "metric.type=\"alloydb.googleapis.com/database/postgresql/insights/aggregate/lock_time\" resource.type=\"alloydb.googleapis.com/Instance\" resource.labels.cluster_id=\"${cluster_id}\"",
                    "aggregation": {
                      "alignmentPeriod": "60s",
                      "perSeriesAligner": "ALIGN_RATE",
                      "crossSeriesReducer": "REDUCE_SUM"
                    }
                  }
                }
              }
            ],
            "yAxis": {
              "label": "lock time (us/s)",
              "scale": "LINEAR"
            }
          }
        }
      },
      {
        "width": 6,
        "height": 4,
        "xPos": 0,
        "yPos": 19,
        "widget": {
          "title": "Buffer cache blocks read from storage",
          "xyChart": {
            "chartOptions": {
              "mode": "COLOR"
            },
            "dataSets": [
              {
                "plotType": "LINE",
                "targetAxis": "Y1",
                "timeSeriesQuery": {
                  "timeSeriesFilter": {
                    "filter": "metric.type=\"alloydb.googleapis.com/instance/postgresql/blks_read\" resource.type=\"alloydb.googleapis.com/Instance\" resource.labels.cluster_id=\"${cluster_id}\"",
                    "aggregation": {
                      "alignmentPeriod": "60s",
                      "perSeriesAligner": "ALIGN_RATE",
                      "crossSeriesReducer": "REDUCE_SUM"
                    }
                  }
                }
              }
            ],
            "yAxis": {
              "label": "blocks/s",
              "scale": "LINEAR"
            }
          }
        }
      },
      {
        "width": 6,
        "height": 4,
        "xPos": 6,
        "yPos": 19,
        "widget": {
          "title": "Ultra-fast cache hit rate",
          "xyChart": {
            "chartOptions": {
              "mode": "COLOR"
            },
            "dataSets": [
              {
                "plotType": "LINE",
                "targetAxis": "Y1",
                "timeSeriesQuery": {
                  "timeSeriesFilter": {
                    "filter": "metric.type=\"alloydb.googleapis.com/instance/postgres/ultrafastcache_hitrate\" resource.type=\"alloydb.googleapis.com/Instance\" resource.labels.cluster_id=\"${cluster_id}\"",
                    "aggregation": {
                      "alignmentPeriod": "60s",
                      "perSeriesAligner": "ALIGN_MEAN"
                    }
                  }
                }
              }
            ],
            "yAxis": {
              "label": "fraction (0-1)",
              "scale": "LINEAR"
            }
          }
        }
      },
      {
        "width": 6,
        "height": 4,
        "xPos": 0,
        "yPos": 23,
        "widget": {
          "title": "Temp bytes written (work_mem spills)",
          "xyChart": {
            "chartOptions": {
              "mode": "COLOR"
            },
            "dataSets": [
              {
                "plotType": "LINE",
                "targetAxis": "Y1",
                "timeSeriesQuery": {
                  "timeSeriesFilter": {
                    "filter": "metric.type=\"alloydb.googleapis.com/instance/postgresql/temp_bytes_written_count\" resource.type=\"alloydb.googleapis.com/Instance\" resource.labels.cluster_id=\"${cluster_id}\"",
                    "aggregation": {
                      "alignmentPeriod": "60s",
                      "perSeriesAligner": "ALIGN_RATE",
                      "crossSeriesReducer": "REDUCE_SUM"
                    }
                  }
                }
              }
            ],
            "yAxis": {
              "label": "bytes/s",
              "scale": "LINEAR"
            }
          }
        }
      },
      {
        "width": 6,
        "height": 4,
        "xPos": 6,
        "yPos": 23,
        "widget": {
          "title": "Transaction ID utilisation (wraparound risk)",
          "xyChart": {
            "chartOptions": {
              "mode": "COLOR"
            },
            "dataSets": [
              {
                "plotType": "LINE",
                "targetAxis": "Y1",
                "timeSeriesQuery": {
                  "timeSeriesFilter": {
                    "filter": "metric.type=\"alloydb.googleapis.com/database/postgresql/vacuum/transaction_id_utilization\" resource.type=\"alloydb.googleapis.com/Instance\" resource.labels.cluster_id=\"${cluster_id}\"",
                    "aggregation": {
                      "alignmentPeriod": "60s",
                      "perSeriesAligner": "ALIGN_MAX"
                    }
                  }
                }
              }
            ],
            "yAxis": {
              "label": "fraction (0-1)",
              "scale": "LINEAR"
            },
            "thresholds": [
              {
                "value": 0.5,
                "color": "YELLOW",
                "direction": "ABOVE"
              },
              {
                "value": 0.8,
                "color": "RED",
                "direction": "ABOVE"
              }
            ]
          }
        }
      },
      {
        "width": 6,
        "height": 4,
        "xPos": 0,
        "yPos": 27,
        "widget": {
          "title": "Replication lag (read pools)",
          "xyChart": {
            "chartOptions": {
              "mode": "COLOR"
            },
            "dataSets": [
              {
                "plotType": "LINE",
                "targetAxis": "Y1",
                "timeSeriesQuery": {
                  "timeSeriesFilter": {
                    "filter": "metric.type=\"alloydb.googleapis.com/instance/postgres/replication/maximum_lag\" resource.type=\"alloydb.googleapis.com/Instance\" resource.labels.cluster_id=\"${cluster_id}\"",
                    "aggregation": {
                      "alignmentPeriod": "60s",
                      "perSeriesAligner": "ALIGN_MAX"
                    }
                  }
                }
              }
            ],
            "yAxis": {
              "label": "milliseconds",
              "scale": "LINEAR"
            }
          }
        }
      },
      {
        "width": 6,
        "height": 4,
        "xPos": 6,
        "yPos": 27,
        "widget": {
          "title": "Deadlocks",
          "xyChart": {
            "chartOptions": {
              "mode": "COLOR"
            },
            "dataSets": [
              {
                "plotType": "LINE",
                "targetAxis": "Y1",
                "timeSeriesQuery": {
                  "timeSeriesFilter": {
                    "filter": "metric.type=\"alloydb.googleapis.com/instance/postgresql/deadlock_count\" resource.type=\"alloydb.googleapis.com/Instance\" resource.labels.cluster_id=\"${cluster_id}\"",
                    "aggregation": {
                      "alignmentPeriod": "60s",
                      "perSeriesAligner": "ALIGN_RATE",
                      "crossSeriesReducer": "REDUCE_SUM"
                    }
                  }
                }
              }
            ],
            "yAxis": {
              "label": "deadlocks/s",
              "scale": "LINEAR"
            }
          }
        }
      },
      {
        "width": 6,
        "height": 4,
        "xPos": 0,
        "yPos": 31,
        "widget": {
          "title": "Nodes up / down",
          "xyChart": {
            "chartOptions": {
              "mode": "COLOR"
            },
            "dataSets": [
              {
                "plotType": "STACKED_BAR",
                "targetAxis": "Y1",
                "timeSeriesQuery": {
                  "timeSeriesFilter": {
                    "filter": "metric.type=\"alloydb.googleapis.com/instance/postgres/instances\" resource.type=\"alloydb.googleapis.com/Instance\" resource.labels.cluster_id=\"${cluster_id}\"",
                    "aggregation": {
                      "alignmentPeriod": "60s",
                      "perSeriesAligner": "ALIGN_MEAN",
                      "crossSeriesReducer": "REDUCE_SUM",
                      "groupByFields": [
                        "metric.label.status"
                      ]
                    }
                  }
                }
              }
            ],
            "yAxis": {
              "label": "nodes",
              "scale": "LINEAR"
            }
          }
        }
      },
      {
        "width": 6,
        "height": 4,
        "xPos": 6,
        "yPos": 31,
        "widget": {
          "title": "Storage quota utilisation",
          "xyChart": {
            "chartOptions": {
              "mode": "COLOR"
            },
            "dataSets": [
              {
                "plotType": "LINE",
                "targetAxis": "Y1",
                "timeSeriesQuery": {
                  "timeSeriesFilterRatio": {
                    "numerator": {
                      "filter": "metric.type=\"alloydb.googleapis.com/quota/storage_usage_per_cluster/usage\" resource.type=\"alloydb.googleapis.com/Cluster\" resource.labels.cluster_id=\"${cluster_id}\"",
                      "aggregation": {
                        "alignmentPeriod": "60s",
                        "perSeriesAligner": "ALIGN_MEAN"
                      }
                    },
                    "denominator": {
                      "filter": "metric.type=\"alloydb.googleapis.com/quota/storage_usage_per_cluster/limit\" resource.type=\"alloydb.googleapis.com/Cluster\" resource.labels.cluster_id=\"${cluster_id}\"",
                      "aggregation": {
                        "alignmentPeriod": "60s",
                        "perSeriesAligner": "ALIGN_MEAN"
                      }
                    }
                  }
                }
              }
            ],
            "yAxis": {
              "label": "fraction (0-1)",
              "scale": "LINEAR"
            },
            "thresholds": [
              {
                "value": 0.8,
                "color": "YELLOW",
                "direction": "ABOVE"
              }
            ]
          }
        }
      },
      {
        "width": 6,
        "height": 4,
        "xPos": 0,
        "yPos": 35,
        "widget": {
          "title": "Cluster storage used",
          "xyChart": {
            "chartOptions": {
              "mode": "COLOR"
            },
            "dataSets": [
              {
                "plotType": "LINE",
                "targetAxis": "Y1",
                "timeSeriesQuery": {
                  "timeSeriesFilter": {
                    "filter": "metric.type=\"alloydb.googleapis.com/cluster/storage/usage\" resource.type=\"alloydb.googleapis.com/Cluster\" resource.labels.cluster_id=\"${cluster_id}\"",
                    "aggregation": {
                      "alignmentPeriod": "60s",
                      "perSeriesAligner": "ALIGN_MEAN"
                    }
                  }
                }
              }
            ],
            "yAxis": {
              "label": "bytes",
              "scale": "LINEAR"
            }
          }
        }
      },
      {
        "width": 6,
        "height": 4,
        "xPos": 6,
        "yPos": 35,
        "widget": {
          "title": "Managed pool: client wait time",
          "xyChart": {
            "chartOptions": {
              "mode": "COLOR"
            },
            "dataSets": [
              {
                "plotType": "LINE",
                "targetAxis": "Y1",
                "timeSeriesQuery": {
                  "timeSeriesFilter": {
                    "filter": "metric.type=\"alloydb.googleapis.com/database/conn_pool/client_connections_avg_wait_time\" resource.type=\"alloydb.googleapis.com/Instance\" resource.labels.cluster_id=\"${cluster_id}\"",
                    "aggregation": {
                      "alignmentPeriod": "60s",
                      "perSeriesAligner": "ALIGN_MEAN",
                      "crossSeriesReducer": "REDUCE_MAX"
                    }
                  }
                }
              }
            ],
            "yAxis": {
              "label": "microseconds",
              "scale": "LINEAR"
            }
          }
        }
      },
      {
        "width": 6,
        "height": 4,
        "xPos": 0,
        "yPos": 39,
        "widget": {
          "title": "Managed pool: client vs server connections",
          "xyChart": {
            "chartOptions": {
              "mode": "COLOR"
            },
            "dataSets": [
              {
                "plotType": "LINE",
                "targetAxis": "Y1",
                "timeSeriesQuery": {
                  "timeSeriesFilter": {
                    "filter": "metric.type=\"alloydb.googleapis.com/database/conn_pool/client_connections\" resource.type=\"alloydb.googleapis.com/Instance\" resource.labels.cluster_id=\"${cluster_id}\"",
                    "aggregation": {
                      "alignmentPeriod": "60s",
                      "perSeriesAligner": "ALIGN_MEAN",
                      "crossSeriesReducer": "REDUCE_SUM",
                      "groupByFields": [
                        "metric.label.status"
                      ]
                    }
                  }
                }
              }
            ],
            "yAxis": {
              "label": "connections",
              "scale": "LINEAR"
            }
          }
        }
      }
    ]
  }
}
